@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color: #A7A1AE;
  background-color: #1F2739;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  color: #FB667A;
}

h2 {
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  line-height: 1em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.container {
  text-align: center;
  overflow: hidden;
  width: 85%;
  margin: 0 auto;
  display: table;
  table-layout: fixed; /* Distribuisce uniformemente la larghezza delle colonne */
}

.container td {
  /* font-weight: normal; */
  font-size: 1em;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container th {
  background-color: #1F2739;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container tr:nth-child(odd) {
  background-color: #323C50;
}

.container tr:nth-child(even) {
  background-color: #2C3446;
}

.container td:first-child {
  color: #FB667A;
}

.container tr:hover {
  background-color: #464A52;
}

.spazioprenotato {
  background-color: #A59370;
  /* color: #403E10; */
  font-weight: 700;
  color: #000000;
}

.classe-lampeggiante {
  animation: lampeggio 1s infinite alternate;
}

@keyframes lampeggio {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}

.footer-heart{text-align:center;font-family: open sans, sans-serif;}

.footer-heart a{border-bottom: 1px solid #453886;color: #453886;padding-bottom: .25em; text-decoration: none;}

.footer-heart a:hover{color:#2196f3; background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;}

.emoji{vertical-align: middle;}
