@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Sixtyfour Convergence", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0,
    "XELA" 0,
    "YELA" 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

h2 a {
  text-transform: uppercase;
  color: #000000;
}

.container {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  display: table;
  table-layout: fixed; /* Distribuisce uniformemente la larghezza delle colonne */
}

.container td {
  word-wrap: break-word; /* Permette al testo di andare a capo */
  overflow-wrap: break-word; /* Supporto aggiuntivo per il wrapping del testo */
  margin: 0; /* Evita margini indesiderati */
  border: 1px solid #ccc;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container th {
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container tr:nth-child(odd) {
  background-color: #ffffff;
}

.container tr:nth-child(even) {
  background-color: #ffffff;
}

.container td:first-child {
  color: #000000;
}

.container tr:hover {
  background-color: #000000;
}

@media (max-width: 600px) { /* Per schermi fino a 600px di larghezza */
  .container {
    width: 100%; /* Utilizza tutta la larghezza disponibile */
  }
}

footer {
    text-align: center; /* Allineamento del testo */
    padding: 10px 0; /* Spaziatura interna */
    position: relative; /* Posizione */
    bottom: 0; /* Ancoraggio al fondo */
    width: 100%; /* Larghezza al 100% */
}

.spazioprenotato {
  background-color: #A59370;
  /* color: #403E10; */
  font-weight: 700;
  color: #000000;
}

.classe-lampeggiante {
  animation: lampeggio 1s infinite alternate;
}

@keyframes lampeggio {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}
